- breadcrumb :payments
.payments
  %h2 Payments
  %table.table.table-condensed#payments-table
    %thead
      %tr
        %th= t('payments.columns.student')
        %th= t('payments.columns.subject_item')
        %th= t('payments.columns.month')
        %th= t('payments.columns.payment_date')
    %tbody
